.input-field{
    display: flex;
    align-items: center ;
   input{
    flex: 1;
    margin: 0 0 10px  10px;
    background-color: #F8F4E3;
    font-weight: bold;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    &:focus{
        border-color: #4430f8;
    }
    &::placeholder{
        color:#aaa;
    }
}
    label{
    flex: 0 0 150px;
    color: #F8F4E3;
    font-weight: bold;
    text-align: right;
    } 
}


.osobni-udaje{
   h2{
    margin-left: 550px;
   } 
   

}